@charset "utf-8";

html {
    font-family: 'Malgun Gothic', Dotum, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: normal;
    /*word-break: keep-all;*/
    background-color: #f8f8f8;
    overflow: auto;
}
/* Mobile */
@media screen and (max-width: 720px) {
    body {
        font-size: 13px;
    }
}

* {
    overflow: hidden;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
}

button {
    border: none;
    padding: 0;
    color: inherit;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.left {
    float: left;
}
.right {
    float: right;
}

ul.menu {
    display: inline-block;
    padding: 0;
    margin: 0;
}
ul.menu li {
    float: left;
    display: block;
    cursor: pointer;
}
ul.menu li:hover {
    color: #107de4;
}
