@charset "utf-8";

body {
    font-family: 'Malgun Gothic', Dotum, Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #f8f8f8;
}
/* Mobile */
@media screen and (max-width: 720px) {
    body {
        font-size: 13px;
    }
}

* {
    overflow: hidden;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
}

button {
    border: none;
    padding: 0;
    color: inherit;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
