@charset "utf-8";

.header {
    border-bottom: 1px solid #cacaca;
}
.header .header-top {
    background-color: #3f3f3f;
}
.header .header-top .container {
    width: 1200px;
    height: 44px;
    margin: 0 auto;
    color: white;
    overflow: hidden;
}
.header .header-top .container > * > * {
    float: left;
    height: 44px;
    margin-right: 1px;
}
.header .header-top .container > * > *:last-child {
    margin-right: 0;
}
.header .header-top .whole-menu-button {
    width: 50px;
    background-image: url("../images/icons/menu_white.png");
    background-color: #606060;
}
.header .header-top .restore-font-size {
    width: 80px;
    font-size: 14px;
    background-color: #818181;
}
.header .header-top .expand-font-size {
    width: 40px;
    background-image: url("../images/icons/plus.png");
    background-color: #818181;
}
.header .header-top .reduce-font-size {
    width: 40px;
    background-image: url("../images/icons/dash.png");
    background-color: #818181;
}
.header .header-top .input-search {
    width: 230px; /* 250 - 20 */
    border: none;
    padding: 0;
    margin-right: 0;
    padding-left: 20px;
    line-height: 44px;
    font-size: 14px;
    color: white;
    border-radius: 0;
    background-color: #818181;
}
.header .header-top .label-search {
    position: relative;
    width: 230px;
    line-height: 44px;
    margin-right: 0;
    margin-left: -230px;
    font-size: 14px;
    cursor: text;
}
.header .header-top .button-search {
    width: 50px;
    background-image: url("../images/icons/search_white.png");
    background-color: #818181;
}
.header .header-top .english {
    width: 87px;
    font-size: 14px;
    background-color: #686868;
}
/* Mobile & Tablet */
@media screen and (max-width: 1200px) {
    .header {
        border-bottom: 1px solid #aaa;
    }    
    .header .header-top {
        display: none;
    }
}

.header .whole-menu {
    display: none;
    position: absolute;
    width: 1200px;
    left: 50%;
    margin-top: -1px;
    margin-left: -600px;
    z-index: 1;
    overflow: visible;
    border: 1px solid #3f3f3f;
}
.header .whole-menu .background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: black;
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}
.header .whole-menu .whole-menu-button {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 7px;
    left: 1210px;
    background-image: url("../images/icons/whole_menu_close_pc.png");
    background-color: transparent;
}
.header .whole-menu .container {
    height: 100%;
    overflow-y: auto;
    background-color: white;
}
.header .whole-menu .section-logo {
    display: none;
    text-align: center;
    background-color: #244997;
}
.header .whole-menu .section-logo img {
    vertical-align: middle;
}
.header .whole-menu .section-contact {
    display: none;
    border-bottom: 1px solid #858585;
}
.header .whole-menu .section-contact .contact-info {
    display: inline-block;
    height: 100%;
    line-height: 1;
    vertical-align: middle;
}
.header .whole-menu .section-contact .contact-info .caption {
    margin: 0;
    font-weight: bold;
    color: #333;
}
.header .whole-menu .section-contact .contact-buttons {
    float: right;
    height: 100%;
}
.header .whole-menu .section-contact a {
    float: right;
    text-align: center;
    font-size: .9em;
    background-repeat: no-repeat;
    background-position-x: center;
}
.header .whole-menu .section-contact a span {
    height: 1em;
    line-height: 1em;
    vertical-align: bottom;
    font-weight: bold;
}
.header .whole-menu .section-contact .email {
    background-image: url("../images/icons/email.png");
}
.header .whole-menu .section-contact .call {
    background-image: url("../images/icons/phone.png");
}
.header .whole-menu .sub-menu {
    float: left;
    width: 196px;
    min-height: 100%;
    border-right: 1px solid #cacaca;
}
.header .whole-menu .sub-menu:last-child {
    width: 197px;
    border-right: none;
}
.header .whole-menu .sub-menu .title {
    height: 64px;
    line-height: 64px;
    text-align: center;
    font-size: 1.28em;
    font-weight: bold;
    border-bottom: 2px solid #107de4;
}
.header .whole-menu .sub-menu .title .arrow {
    float: right;
    display: none;
    width: 15px;
    height: 8px;
    background-image: url("../images/icons/arrow_up.png");
    background-color: transparent;
}
.header .whole-menu .sub-menu.actived .title .arrow {
    background-image: url("../images/icons/arrow_down_on.png");
}
.header .whole-menu .sub-menu .inner-menu ul {
    margin: 0;
    padding: 0 0 0 30px;
}
.header .whole-menu .sub-menu .inner-menu ul > li {
    height: 30px;
    line-height: 30px;
    font-size: .9em;
    color: #555555;
}
.header .whole-menu .sub-menu .inner-menu ul > li.subject {
    height: 45px;
    line-height: 45px;
    font-size: 1.14em;
    font-weight: bold;
    color: black;
    list-style-type: square;
    overflow: visible;
}
.header .whole-menu .sub-menu .inner-menu ul > li.blank {
    display: none;
}
.header .whole-menu .sub-menu .inner-menu ul > li a:hover {
    text-decoration: underline;
    font-weight: bold;
}
/* Mobile */
@media screen and (max-width: 720px) {
    .header .whole-menu {
        max-width: 330px;
    }
    .header .whole-menu .section-logo {
        height: 30px;
    }
    .header .whole-menu .section-logo img {
        height: 20px;
    }
    .header .whole-menu .section-contact {
        height: 75px;
        line-height: 75px;
    }
    .header .whole-menu .section-contact .contact-info {
        height: 45px;
        margin-left: 20px;
    }
    .header .whole-menu .section-contact .contact-info .caption {
        margin-bottom: 7px;
        font-size: 1.15em;
    }
    .header .whole-menu .section-contact .contact-info .phonenumber {
        height: 20px;
    }
    .header .whole-menu .section-contact a {
        width: 70px;
        height: 60px;
        line-height: 60px;
        margin-top: 7.5px;
        background-size: 40px;
    }
    .header .whole-menu .sub-menu .title {
        height: 50px;
        line-height: 50px;
        padding-left: 10px;
    }
    .header .whole-menu .sub-menu .title .arrow {
        margin-top: 20px;
        margin-right: 10px;
    }
    .header .whole-menu .sub-menu .inner-menu ul > li {
        height: 35px;
        line-height: 35px;
        padding-left: 10px;
    }
    .header .whole-menu .sub-menu .inner-menu ul > li.subject {
        height: 40px;
        line-height: 40px;
    }
}
/* Tablet */
@media screen and (min-width: 720px) and (max-width: 1200px) {
    .header .whole-menu {
        max-width: 540px;
    }
    .header .whole-menu .section-logo {
        height: 38px;
    }
    .header .whole-menu .section-logo img {
        height: 24px;
    }
    .header .whole-menu .section-contact {
        height: 100px;
        line-height: 100px;
    }
    .header .whole-menu .section-contact .contact-info {
        height: 60px;
        margin-left: 30px;
    }
    .header .whole-menu .section-contact .contact-info .caption {
        margin-bottom: 10px;
        font-size: 1.28em;
    }
    .header .whole-menu .section-contact .contact-info .phonenumber {
        height: 30px;
    }
    .header .whole-menu .section-contact a {
        width: 100px;
        height: 80px;
        line-height: 80px;
        margin-top: 10px;
    }
    .header .whole-menu .sub-menu .title {
        height: 60px;
        line-height: 60px;
        padding-left: 20px;
    }
    .header .whole-menu .sub-menu .title .arrow {
        margin-top: 25px;
        margin-right: 20px;
    }
    .header .whole-menu .sub-menu .inner-menu ul > li {
        height: 40px;
        line-height: 40px;
        padding-left: 20px;
    }
    .header .whole-menu .sub-menu .inner-menu ul > li.subject {
        height: 45px;
        line-height: 45px;
    }
}
/* Mobile & Tablet */
@media screen and (max-width: 1200px) {
    .header .whole-menu {
        position: fixed;
        width: 100%;
        height: 100% !important;
        left: 0;
        margin-left: 0;
        border: none;
    }
    .header .whole-menu .whole-menu-button {
        width: 18px;
        height: 17px;
        top: 8px;
        left: 100%;
        margin-left: 8px;
        background-image: url("../images/icons/whole_menu_close_mobile.png");
    }
    .header .whole-menu .section-logo {
        display: block;
    }
    .header .whole-menu .section-contact {
        display: block;
    }
    .header .whole-menu .sub-menu {
        float: none;
        width: 100% !important;
        height: auto !important;
        min-height: auto;
        border: none;
    }
    .header .whole-menu .sub-menu .title {
        text-align: left;
        border-bottom: 1px solid #858585;
        cursor: pointer;
    }
    .header .whole-menu .sub-menu .title .arrow {
        display: block;
    }
    .header .whole-menu .sub-menu:last-child {
        margin-bottom: -1px;
    }
    .header .whole-menu .sub-menu .inner-menu {
        display: none;
    }
    .header .whole-menu .sub-menu.actived .inner-menu {
        display: block;
    }
    .header .whole-menu .sub-menu .inner-menu ul {
        float: left;
        width: 50%;
        padding: 0;
        border-bottom: 1px solid #858585;
    }
    .header .whole-menu .sub-menu .inner-menu ul:last-child:not(:nth-child(even)) {
        width: 100%;
    }
    .header .whole-menu .sub-menu .inner-menu ul > li {
        color: #333;
        background-color: #f1f1f1;
        border-bottom: 1px solid #cacaca;
    }
    .header .whole-menu .sub-menu .inner-menu ul > li.subject {
        font-weight: normal;
        list-style-type: none;
        background-color: white;
        border-bottom: 1px solid #858585;
    }
    .header .whole-menu .sub-menu .inner-menu ul > li.blank {
        display: list-item;
    }
    .header .whole-menu .sub-menu .inner-menu ul > li:last-child {
        border-bottom: none;
    }
    .header .whole-menu .sub-menu .inner-menu ul > li.subject a:hover {
        text-decoration: none;
        color: #107de4;
    }
}

.header .header-bottom {
    background-color: white;
}
.header .header-bottom .container {
    width: 1200px;
    height: 99px;
    margin: 0 auto;
}
.header .header-bottom .container > * {
    height: 99px;
    line-height: 99px;
}
.header .header-bottom .whole-menu-button,
.header .header-bottom .button-search {
    display: none;
}
.header .header-bottom .whole-menu-button {
    float: left;
    background-image: url("../images/icons/menu_gray.png");
    background-color: transparent;
}
.header .header-bottom .logo {
    float: left;
    display: block;
    width: 145px;
    margin-right: 50px;
}
.header .header-bottom .logo h1 {
    margin: 0;
    font-size: 1em;
}
.header .header-bottom .logo img {
    width: 100%;
    vertical-align: middle;
}
.header .header-bottom .button-search {
    float: right;
    background-image: url("../images/icons/search_gray.png");
    background-color: transparent;
}
.header .header-bottom .menu > li {
    padding: 0 23px;
    font-weight: bold;
}
.header .header-bottom .menu > li > span {
    font-size: 1.2em;
}
.header .header-bottom .arrow {
    display: none;
    position: absolute;
    margin-top: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 7px solid #107de4;
}
.header .header-bottom .inner-menu {
    display: none;
    position: absolute;
    margin-top: -1px;
    z-index: 2;
    color: #333;
    background-color: #f1f1f1;
    border: 1px solid #858585;
    cursor: default;
}
.header .header-bottom .inner-menu ul {
    float: left;
    width: 200px;
    padding: 0;
}
.header .header-bottom .inner-menu ul:nth-child(n+2) {
    border-left: 1px solid #cacaca;
}
.header .header-bottom .inner-menu ul > li {
    height: 25px;
    line-height: 25px;
    font-size: .92em;
    font-weight: normal;
}
.header .header-bottom .inner-menu ul > li:last-child {
    margin-bottom: 10px;
}
.header .header-bottom .inner-menu ul > li a {
    display: inline-block;
    width: 185px;
    height: 100%;
    padding-left: 15px;
}
.header .header-bottom .inner-menu ul > li a:hover {
    text-decoration: underline;
    font-weight: bold;
}
.header .header-bottom .inner-menu ul > li.subject {
    height: 45px;
    line-height: 45px;
    margin-bottom: 10px;
    color: black;
    font-size: 1.14em;
    font-weight: bold;
    background-color: white;
    border-bottom: 1px solid #858585;
}
.header .header-bottom .inner-menu ul > li.subject a:hover {
    color: #107de4;
    text-decoration: none;
}
.header .header-bottom .inner-menu ul > li.subject a .subject-arrow {
    float: right;
    width: 7px;
    height: 11px;
    margin-top: 18px;
    margin-right: 14px;
    background-image: url("../images/icons/arrow_right_off.png");
}
.header .header-bottom .inner-menu ul > li.subject a:hover .subject-arrow {
    background-image: url("../images/icons/arrow_right_on.png");
}
.header .header-bottom .menu-background {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -2px;
    z-index: 1;
    background-color: black;
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}
/* Mobile */
@media screen and (max-width: 720px) {
    .header .header-bottom .container {
        height: 59px;
        margin: 0 10px;
    }
    .header .header-bottom .container > * {
        height: 59px;
        line-height: 59px;
    }
    .header .header-bottom .whole-menu-button,
    .header .header-bottom .button-search {
        width: 24px;
        background-size: 24px;
    }
    .header .header-bottom .logo {
        width: 130px;
    }
}
/* Tablet */
@media screen and (min-width: 720px) and (max-width: 1200px) {
    .header .header-bottom .container {
        height: 75px;
        margin: 0 24px;
    }
    .header .header-bottom .container > * {
        height: 75px;
        line-height: 75px;
    }
    .header .header-bottom .whole-menu-button,
    .header .header-bottom .button-search {
        width: 37px;
        background-size: 37px;
    }
    .header .header-bottom .logo {
        width: 170px;
    }
}
/* Mobile & Tablet */
@media screen and (max-width: 1200px) {
    .header .header-bottom .container {
        width: auto;
    }
    .header .header-bottom .whole-menu-button,
    .header .header-bottom .button-search {
        display: inline-block;
    }
    .header .header-bottom .logo {
        float: none;
        margin: 0 auto;
    }
    .header .header-bottom .menu {
        display: none;
    }
}

.navigation .nav-mobile {
    display: none;
}
.navigation .section-top {
    float: left;
    width: calc(100% - 30px);
    height: 40px;
    overflow-x: auto;
    -ms-overflow-style: none;
    border-bottom: 1px solid #aaa;
}
.navigation .section-top::-webkit-scrollbar {
    display: none;
}
.navigation .gnb-top {
    width: auto;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    font-size: 1.23em;
    overflow: hidden;
}
.navigation .gnb-top::after {
    content: '';
    display: block;
    clear: both;
}
.navigation .gnb-top > li {
    float: left;
    margin: 0 15px;
    padding: 0 5px;
    white-space: nowrap;
}
.navigation .gnb-top > li.selected {
    height: 38px;
    font-weight: bold;
    color: #244997;
    border-bottom: 2px solid #244997;
}
.navigation .gnb-bottom-button {
    float: left;
    width: 30px;
    height: 41px;
    background-image: url("../images/icons/arrow_down_off.png");
    background-color: transparent;
    border-left: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
.navigation .section-bottom {
    position: absolute;
    display: none;
    margin-top: 41px;
    clear: both;
    background-color: #f8f8f8;
    border-bottom: 1px solid #aaa;
}
.navigation .section-bottom.actived {
    display: block;
}
.navigation .gnb-bottom {
    margin: 0 0 0 -10px;
    padding: 0 0 15px 0;
    font-size: 1.07em;
    border-bottom: 1px dashed #dfdfdf;
}
.navigation .gnb-bottom > li {
    display: inline-block;
    margin-left: 10px;
    padding: 8px 15px;
}
.navigation .gnb-bottom > li.selected {
    font-weight: bold;
    color: #107de4;
    border: 1px solid #107de4;
}
.navigation .section-contact {
    padding-top: 15px;
}
.navigation .contact-info {
    display: inline-block;
}
.navigation .contact-info p {
    margin: 0;
    font-size: .92em;
    font-weight: bold;
}
.navigation .contact-info img {
    height: 21px;
}
.navigation .contact-links {
    float: right;
    height: 40px;
    line-height: 40px;
    font-size: 1.07em;
    font-weight: bold;
}
.navigation .contact-links a {
    display: inline-block;
    height: 27px;
    line-height: 27px;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: 27px;
    padding-left: 34px;
}
.navigation .contact-links .call {
    background-image: url("../images/icons/phone.png");
}
.navigation .contact-links .email {
    margin-left: 1em;
    background-image: url("../images/icons/email.png");
}
.navigation .nav-pc {
    height: 45px;
    line-height: 45px;
    color: #858585;
    background-color: #f8f8f8;
    border-bottom: 1px solid #cacaca;
}
.navigation .nav-pc .wrapper {
    width: 1200px;
    margin: 0 auto;
}
.navigation .state {
    float: left;
}
.navigation .state div {
    float: left;
    margin-right: 15px;
    padding-right: 30px;
    background-image: url("../images/icons/nav_arrow_right.png");
    background-position: right center;
    background-repeat: no-repeat;
}
.navigation .state div:last-child {
    margin-right: 0;
    padding-right: 0;
    font-weight: bold;
    color: #107de4;
    background-image: none;
}
.navigation .state div a {
    display: inline-block;
    vertical-align: top;
}
.navigation .sns {
    float: right;
}
.navigation .sns a {
    float: left;
    width: 33px;
    font-size: 0;
    background-position: center;
    background-repeat: no-repeat;
}
.navigation .sns .facebook {
    background-image: url("../images/icons/facebook_pc_off.png");
}
.navigation .sns .facebook:hover {
    background-image: url("../images/icons/facebook_pc_on.png");
}
.navigation .sns .twitter {
    background-image: url("../images/icons/twitter_pc_off.png");
}
.navigation .sns .twitter:hover {
    background-image: url("../images/icons/twitter_pc_on.png");
}
.navigation .sns .blog {
    background-image: url("../images/icons/blog_pc_off.png");
}
.navigation .sns .blog:hover {
    background-image: url("../images/icons/blog_pc_on.png");
}
.navigation .sns .post {
    background-image: url("../images/icons/post_pc_off.png");
}
.navigation .sns .post:hover {
    background-image: url("../images/icons/post_pc_on.png");
}
.navigation .sns .youtube {
    background-image: url("../images/icons/youtube_pc_off.png");
}
.navigation .sns .youtube:hover {
    background-image: url("../images/icons/youtube_pc_on.png");
}
/* Mobile */
@media screen and (max-width: 720px) {
    .navigation .section-bottom {
        width: calc(100% - 20px);
        padding: 20px 10px;
    }
}
/* Tablet */
@media screen and (min-width: 720px) and (max-width: 1200px) {
    .navigation .section-bottom {
        width: calc(100% - 48px);
        padding: 20px 24px;
    }
}
/* Mobile & Tablet */
@media screen and (max-width: 1200px) {
    .navigation .nav-mobile {
        display: block;
    }
    .navigation .nav-pc {
        display: none;
    }
}

.contents {
    width: 1200px;
    margin: 0 auto;
    margin-top: 45px;
    clear: both;
}
/* Mobile */
@media screen and (max-width: 720px) {
    .contents {
        margin: 0 10px;
        margin-top: 20px;
    }
}
/* Tablet */
@media screen and (min-width: 720px) and (max-width: 1200px) {
    .contents {
        margin: 0 24px;
        margin-top: 30px;
    }
}
/* Mobile & Tablet */
@media screen and (max-width: 1200px) {
    .contents {
        width: auto;
    }
}

.footer {
    margin-top: 60px;
    font-size: .9em;
    background-color: white;
}
.footer .container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.footer .footer-top {
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #e7e7e7;
}
.footer .footer-top .menu > li {
    padding: 0 15px;
    border-right: 1px solid #e7e7e7;
}
.footer .footer-top .menu > li:first-child {
    border-left: 1px solid #e7e7e7;
}

.footer .footer-bottom {
    padding: 25px 0;
    color: #656565;
    font-size: .85em;
    border-top: 1px solid #e7e7e7;
}
.footer .footer-bottom p {
    margin: 0;
}
.footer .footer-bottom .logo {
    vertical-align: top;
    margin-right: 40px;
}
.footer .footer-bottom .copyright-pc {
    display: inline-block;
    vertical-align: top;
}
.footer .footer-bottom .copyright {
    text-transform: uppercase;
}
.footer .footer-bottom .copyright-pc .copyright {
    font-size: .8em;
}
.footer .footer-bottom .copyright-pc .about {
    margin-top: 10px;
    color: #b4b4b4;
    font-size: .9em;
}
.footer .footer-bottom .copyright-mobile {
    display: none;
}
.footer .footer-bottom .marks {
    float: right;
}
/* Mobile */
@media screen and (max-width: 720px) {
    .footer {
        margin-top: 40px;
    }
    .footer .container {
        margin: 0 10px;
    }
    .footer .footer-top .menu > li {
        font-size: .95em;
        padding: 0 7px;
    }
    .footer .footer-top .menu > li:last-child {
        display: none;
    }
    .footer .footer-top .menu > li:nth-last-child(2) {
        border-right: none;
    }
    .footer .footer-bottom {
        font-size: .95em;
        padding: 20px 0;
    }
    .footer .footer-bottom .logo {
        display: none;
    }
    .footer .footer-bottom .copyright-pc {
        display: none;
    }
    .footer .footer-bottom .copyright-mobile {
        display: block;
    }
}
/* Tablet */
@media screen and (min-width: 720px) and (max-width: 1200px) {
    .footer .container {
        margin: 0 24px;
    }
}
/* Mobile & Tablet */
@media screen and (max-width: 1200px) {
    .footer .container {
        width: auto;
    }
    .footer .footer-top .menu > li:first-child {
        border-left: none;
    }
    .footer .footer-top .menu > li:last-child {
        border-right: none;
    }
    .footer .footer-bottom .copyright-pc .about {
        display: none;
    }
    .footer .footer-bottom .marks {
        display: none;
    }
}
