@charset "utf-8";

.body-wrapper {
    min-height: 100%;
}

.header {
    border-bottom: 1px solid #cacaca;
}
.header .header-top {
    background-color: #3f3f3f;
}
.header .header-top .container {
    width: 1200px;
    height: 44px;
    margin: 0 auto;
    color: white;
    overflow: hidden;
}
.header .header-top .container > * > * {
    float: left;
    height: 44px;
    margin-right: 1px;
}
.header .header-top .container > * > *:last-child {
    margin-right: 0;
}
.header .header-top .whole-menu {
    width: 50px;
    background-image: url("../images/icons/menu_white.png");
    background-color: #606060;
}
.header .header-top .restore-font-size {
    width: 80px;
    font-size: 14px;
    background-color: #818181;
}
.header .header-top .expand-font-size {
    width: 40px;
    background-image: url("../images/icons/plus.png");
    background-color: #818181;
}
.header .header-top .reduce-font-size {
    width: 40px;
    background-image: url("../images/icons/dash.png");
    background-color: #818181;
}
.header .header-top .input-search {
    width: 230px; /* 250 - 20 */
    border: none;
    padding: 0;
    margin-right: 0;
    padding-left: 20px;
    line-height: 44px;
    font-size: 14px;
    color: white;
    border-radius: 0;
    background-color: #818181;
}
.header .header-top .label-search {
    position: relative;
    width: 230px;
    line-height: 44px;
    margin-right: 0;
    margin-left: -230px;
    font-size: 14px;
    cursor: text;
}
.header .header-top .button-search {
    width: 50px;
    background-image: url("../images/icons/search_white.png");
    background-color: #818181;
}
.header .header-top .english {
    width: 87px;
    font-size: 14px;
    background-color: #686868;
}
.header .header-bottom {
    background-color: white;
}
.header .header-bottom .container {
    width: 1200px;
    height: 99px;
    margin: 0 auto;
}
.header .header-bottom .container > * {
    height: 99px;
    line-height: 99px;
}

.header .header-bottom .whole-menu,
.header .header-bottom .button-search {
    display: none;
}
.header .header-bottom .whole-menu {
    float: left;
    background-image: url("../images/icons/menu_gray.png");
    background-color: transparent;
}
.header .header-bottom .logo {
    float: left;
    display: block;
    width: 145px;
    margin-right: 50px;
}
.header .header-bottom .logo h1 {
    margin: 0;
    font-size: 1em;
}
.header .header-bottom .logo img {
    width: 100%;
    vertical-align: middle;
}
.header .header-bottom .button-search {
    float: right;
    background-image: url("../images/icons/search_gray.png");
    background-color: transparent;
}
.header .header-bottom .menu > li {
    padding: 0 23px;
    font-weight: bold;
}
.header .header-bottom .menu > li > span {
    font-size: 1.2em;
}
.header .header-bottom .arrow {
    display: none;
    position: absolute;
    margin-top: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 7px solid #107de4;
}
.header .header-bottom .inner-menu {
    display: none;
    position: absolute;
    margin-top: -1px;
    z-index: 2;
    color: #333;
    background-color: #f1f1f1;
    border: 1px solid #858585;
    cursor: default;
}
.header .header-bottom .inner-menu ul {
    float: left;
    width: 176px;
    padding: 0;
}
.header .header-bottom .inner-menu ul:nth-child(n+2) {
    border-left: 1px solid #cacaca;
}
.header .header-bottom .inner-menu ul > li {
    height: 25px;
    line-height: 25px;
    font-size: .92em;
    font-weight: normal;
}
.header .header-bottom .inner-menu ul > li:last-child {
    margin-bottom: 10px;
}
.header .header-bottom .inner-menu ul > li a {
    display: inline-block;
    width: 161px;
    height: 100%;
    padding-left: 15px;
}
.header .header-bottom .inner-menu ul > li a:hover {
    text-decoration: underline;
    font-weight: bold;
}
.header .header-bottom .inner-menu ul > li.subject {
    height: 45px;
    line-height: 45px;
    margin-bottom: 10px;
    color: black;
    font-size: 1.14em;
    font-weight: bold;
    background-color: white;
    border-bottom: 1px solid #858585;
}
.header .header-bottom .inner-menu ul > li.subject a:hover {
    color: #107de4;
    text-decoration: none;
}
.header .header-bottom .menu-background {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: black;
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"
}
/* Mobile */
@media screen and (max-width: 720px) {
    .header .header-bottom .container {
        height: 59px;
        margin: 0 10px;
    }
    .header .header-bottom .container > * {
        height: 59px;
        line-height: 59px;
    }
    .header .header-bottom .whole-menu,
    .header .header-bottom .button-search {
        width: 24px;
        background-size: 24px;
    }
    .header .header-bottom .logo {
        width: 130px;
    }
}
/* Tablet */
@media screen and (min-width: 720px) and (max-width: 1200px) {
    .header .header-bottom .container {
        height: 75px;
        margin: 0 24px;
    }
    .header .header-bottom .container > * {
        height: 75px;
        line-height: 75px;
    }
    .header .header-bottom .whole-menu,
    .header .header-bottom .button-search {
        width: 37px;
        background-size: 37px;
    }
    .header .header-bottom .logo {
        width: 170px;
    }
}
/* Mobile & Tablet */
@media screen and (max-width: 1200px) {
    .header {
        border-bottom: 1px solid #aaa;
    }    
    .header .header-top {
        display: none;
    }
    .header .header-bottom .container {
        width: auto;
    }
    .header .header-bottom .whole-menu,
    .header .header-bottom .button-search {
        display: inline-block;
    }
    .header .header-bottom .logo {
        float: none;
        margin: 0 auto;
    }
    .header .header-bottom .menu {
        display: none;
    }
}

.contents {
    padding-bottom: 230px;
}

.footer {
    margin-top: -171px;
    font-size: .9em;
    background-color: white;
}
.footer .container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.footer .footer-top {
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #e7e7e7;
}
.footer .footer-top .menu > li {
    padding: 0 15px;
    border-right: 1px solid #e7e7e7;
}
.footer .footer-top .menu > li:first-child {
    border-left: 1px solid #e7e7e7;
}

.footer .footer-bottom {
    padding: 25px 0;
    color: #656565;
    font-size: .85em;
    border-top: 1px solid #e7e7e7;
}
.footer .footer-bottom p {
    margin: 0;
}
.footer .footer-bottom .logo {
    vertical-align: top;
    margin-right: 40px;
}
.footer .footer-bottom .copyright-pc {
    display: inline-block;
    vertical-align: top;
}
.footer .footer-bottom .copyright {
    text-transform: uppercase;
}
.footer .footer-bottom .copyright-pc .copyright {
    font-size: .8em;
}
.footer .footer-bottom .copyright-pc .about {
    margin-top: 10px;
    color: #b4b4b4;
    font-size: .9em;
}
.footer .footer-bottom .copyright-mobile {
    display: none;
}
.footer .footer-bottom .marks {
    float: right;
}
/* Mobile */
@media screen and (max-width: 720px) {
    .footer {
        margin-top: 40px;
    }
    .footer .container {
        margin: 0 10px;
    }
    .footer .footer-top .menu > li {
        font-size: .95em;
        padding: 0 7px;
    }
    .footer .footer-top .menu > li:last-child {
        display: none;
    }
    .footer .footer-top .menu > li:nth-last-child(2) {
        border-right: none;
    }
    .footer .footer-bottom {
        font-size: .95em;
        padding: 20px 0;
    }
    .footer .footer-bottom .logo {
        display: none;
    }
    .footer .footer-bottom .copyright-pc {
        display: none;
    }
    .footer .footer-bottom .copyright-mobile {
        display: block;
    }
}
/* Tablet */
@media screen and (min-width: 720px) and (max-width: 1200px) {
    .footer .container {
        margin: 0 24px;
    }
}
/* Mobile & Tablet */
@media screen and (max-width: 1200px) {
    .footer .container {
        width: auto;
    }
    .footer .footer-top .menu > li:first-child {
        border-left: none;
    }
    .footer .footer-top .menu > li:last-child {
        border-right: none;
    }
    .footer .footer-bottom .copyright-pc .about {
        display: none;
    }
    .footer .footer-bottom .marks {
        display: none;
    }
}
