@charset "utf-8";

.contents {
    width: 1200px;
    margin: 0 auto;
    margin-top: 45px;
}
.contents .area .inside {
    border: 1px solid #e7e7e7;
    background-color: white;
    background-repeat: no-repeat;
}
.contents .area .inside > * {
    line-height: normal;
}
.contents .area h2 {
    margin: 30px 0 20px 0;
}
.contents .area .center {
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}
/* Mobile */
@media screen and (max-width: 720px) {
    .contents {
        margin: 0 10px;
        margin-top: 20px;
    }
}
/* Tablet */
@media screen and (min-width: 720px) and (max-width: 1200px) {
    .contents {
        margin: 0 24px;
        margin-top: 30px;
    }
}
/* Mobile & Tablet */
@media screen and (max-width: 1200px) {
    .contents {
        width: auto;
    }
}

.contents .area-custom h2 {
    color: #333 !important;
    font-weight: bold !important;
    margin: 0 !important;
}
.contents .area-custom p {
    vertical-align: middle;
    margin: 0 !important;
}
.contents .area-custom img {
    vertical-align: middle;
    width: inherit;
    height: inherit;
}

.contents .area-search {
    float: right;
    width: 50%;
}
.contents .area-search .inside {
    height: 138px;
    margin-left: -1px;
    padding: 0 30px;
}
.contents .area-search h2 {
    color: #333;
}
.contents .area-search .input-search {
    float: left;
    width: 326px; /* 336 - 10 */
    height: 30px;
    line-height: 30px;
    padding: 0;
    padding-left: 10px;
    color: #888;
    border: 2px solid #107de4;
    border-radius: 0;
    background-color: white;
}
.contents .area-search .label-search {
    float: left;
    position: relative;
    width: 326px;
    height: 30px;
    line-height: 30px;
    margin: 2px 0 2px -328px;
    color: #888;
    cursor: text;
}
.contents .area-search .button-search {
    float: left;
    width: 64px;
    height: 34px;
    color: white;
    background-color: #107de4;
}
.contents .area-search .view-all {
    float: left;
    width: 124px;
    height: 34px;
    margin-left: 10px;
    color: white;
    background-color: #244997;
}
/* Mobile */
@media screen and (max-width: 720px) {
    .contents .area-search {
        margin-bottom: 20px;
    }
    .contents .area-search .inside {
        padding: 15px;
    }
    .contents .area-search .input-search {
        width: calc(80% - 10px - 4px - 8px);
    }
    .contents .area-search .label-search {
        width: calc(80% - 10px - 4px - 8px);
        margin: 2px 0 2px calc(-80% + 10px + 4px + 8px - 2px);
    }
    .contents .area-search .button-search {
        width: 20%;
        margin-left: 8px;
        margin-bottom: 10px;
    }
    .contents .area-search .view-all {
        width: 100%;
        margin-left: 0;
    }
}
/* Tablet */
@media screen and (min-width: 720px) and (max-width: 1200px) {
    .contents .area-search .inside {
        padding: 20px;
    }
    .contents .area-search .input-search {
        width: calc(70% - 10px - 4px - 10px);
    }
    .contents .area-search .label-search {
        width: calc(70% - 10px - 4px - 10px);
        margin: 2px 0 2px calc(-70% + 10px + 4px + 10px - 2px);
    }
    .contents .area-search .button-search {
        width: 10%;
    }
    .contents .area-search .view-all {
        width: 20%;
        margin-left: 10px;
    }
}
/* Mobile & Tablet */
@media screen and (max-width: 1200px) {
    .contents .area-search {
        float: none;
        width: auto;
    }
    .contents .area-search .inside {
        height: auto;
        margin-left: 0;
    }
    .contents .area-search h2 {
        margin: 0;
        margin-bottom: 15px;
    }
}

.contents .container-left {
    float: left;
    width: 50%;
}
.contents .container-left .area {
    float: left;
    width: 50%;
}
.contents .container-left .area .inside {
    height: 138px;
    line-height: 138px;
    padding: 0 20px 0 30px;
}
.contents .container-left .area:nth-child(n+3) .inside {
    margin-top: -1px;
}
.contents .container-left .area:nth-child(2n) .inside {
    margin-left: -1px;
}
.contents .container-left .area h2 {
    font-size: 1.4em;
    font-weight: normal;
    color: #244997;
}
.contents .container-left .area p {
    font-size: .9em;
    font-weight: bold;
    color: #818181;
}
/* Mobile */
@media screen and (max-width: 720px) {
    .contents .container-left {
        margin-bottom: 20px;
        text-align: center;
    }
    .contents .container-left .area .inside {
        height: 100px;
        line-height: 100px;
        padding: 0 15px;
    }
    .contents .container-left .area h2 {
        display: inline-block;
        margin: 0;
        text-align: center;
        vertical-align: middle;
    }
    .contents .container-left .area p {
        display: none;
    }
}
/* Tablet */
@media screen and (min-width: 720px) and (max-width: 1200px) {
    .contents .container-left {
        margin-top: -1px;
    }
    .contents .container-left .area .inside {
        height: 103px;
        line-height: 103px;
    }
    .contents .container-left .area:nth-child(2n) .inside {
        padding-right: 21px; /* 20 + 1 */
    }
    .contents .container-left .area h2 {
        margin: 15px 0;
    }
}
/* Mobile & Tablet */
@media screen and (max-width: 1200px) {
    .contents .container-left {
        float: none;
        width: auto;
    }
    .contents .container-left .area .inside {
        padding: 0 20px;
    }
    .contents .container-left {
        width: 100%;
        margin-right: 0;
    }
}

.contents .container-right {
    float: right;
    width: 50%;
}
.contents .container-right .area {
    float: left;
}
.contents .container-right .area .inside { 
    margin-top: -1px;
    margin-left: -1px;
}
.contents .container-right .area h2 {
    font-size: 1.3em;
    color: #333;
}
/* Mobile */
@media screen and (max-width: 720px) {
    .contents .container-right .area .inside {
        padding: 0 15px;
    }
    .contents .container-right .area h2 {
        margin: 15px 0;
    }
    .contents .container-right .area:first-child {
        margin-top: 0;
    }
}
/* Tablet */
@media screen and (min-width: 720px) and (max-width: 1200px) {
    .contents .container-right .area .inside {
        padding: 0 20px;
    }
    .contents .container-right .area h2 {
        margin: 20px 0;
    }
}
/* Mobile & Tablet */
@media screen and (max-width: 1200px) {
    .contents .container-right {
        float: none;
        width: 100%;
    }
    .contents .container-right .area {
        float: none;
        width: auto;
        height: auto;
    }
    .contents .container-right .area .inside {
        margin-left: 0;
    }
}

.contents .call {
    float: left;
    width: 387px; /* 385 + 2px */
}
.contents .call .area-call {
    width: 100%;
}
.contents .call .area-call .inside {
    height: 211px;
    padding: 0 30px;
    text-align: center;
}
.contents .call .area-call .inside > * {
    text-align: left;
}
.contents .call .area-call .call-detail {
    display: inline-block;
    margin-bottom: 15px;
    padding: 20px 0 20px 125px;
    background-image: url("../images/call.png");
    background-position: 10px;
    background-repeat: no-repeat;
}
.contents .call .area-call .call-detail .phonenumber {
    width: 100%;
    max-width: 197px;
    margin-bottom: 10px;
} 
.contents .call .area-call .call-detail p {
    margin: 0;
}
.contents .call .area-call-links {
    width: 100%;
}
.contents .call .area-call-links .inside {
    height: 65px;
    margin-top: -1px;
    padding: 0;
}
.contents .call .area-call-links .links {
    height: 65px;
    line-height: 65px;
    margin: 0;
    padding: 0;
}
.contents .call .area-call-links .links li {
    float: left;
    width: 192px;
    text-align: center;
    font-weight: bold;
    color: #333;
}
.contents .call .area-call-links .links li.border {
    width: 0;
    height: 25px;
    margin: 20px 0;
    border-left: 1px solid #e7e7e7;
}
.contents .call .area-call-links .links li a:hover {
    color: #107de4;
}
/* Mobile */
@media screen and (max-width: 720px) {
    .contents .call {
        float: none;
        width: auto;
    }
    .contents .call .area .inside {
        height: auto;
        padding: 0 15px;
    }
    .contents .call .area-call .inside {
        margin-top: 0;
    }
    .contents .call .area-call-links .inside {
        height: 48px;
    }
    .contents .call .area-call-links .links {
        height: 48px;
        line-height: 48px;
    }
    .contents .call .area-call-links .links li.border {
        height: 20px;
        margin: 14px 0;
    }
}
/* Tablet */
@media screen and (min-width: 720px) and (max-width: 1200px) {
    .contents .call .area .inside {
        padding: 0 20px;
    }
    .contents .call {
        float: left;
        width: 50%;
    }
    .contents .call .area-call-links .inside {
        height: 60px;
    }
    .contents .call .area-call-links .links {
        height: 60px;
        line-height: 60px;
    }
    .contents .call .area-call-links .links li.border {
        height: 20px;
        margin: 20px 0;
    }
}
/* Mobile & Tablet */
@media screen and (max-width: 1200px) {
    .contents .call .area {
        float: none;
        width: auto;
    }
    .contents .call .area-call-links {
        padding: 0;
    }
    .contents .call .area-call-links .links li {
        width: calc(100%/2 - 1px/2);
    }
}

.contents .area-subscribe {
    width: 213px;
}
.contents .area-subscribe .inside {
    height: 211px;
    padding: 0 20px;
    margin-left: -1px;
    background-image: url("../images/subscribe.png");
    background-position: 132px 132px;
    background-repeat: no-repeat;
}
.contents .area-subscribe h2 {
    margin-bottom: 0;
}
.contents .area-subscribe p {
    margin-top: 0;
    font-size: .9em;
    font-weight: bold;
    color: #908f8f;
}
.contents .area-subscribe .subscribe {
    width: 80px;
    height: 25px;
    margin-top: 60px;
    font-size: .9em;
    color: #555;
    background-color: white;
    border: 1px solid #aaa;
}
/* Mobile & Tablet */
@media screen and (max-width: 1200px) {
    .contents .area-subscribe {
        display: none;
    }
}

.contents .area-sns {
    width: 213px;
}
.contents .area-sns .inside {
    height: 65px;
    margin-left: -1px;
}
.contents .area-sns .inside a {
    float: left;
    width: 20%;
    height: 100%;
    font-size: 0;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
}
.contents .area-sns .inside .facebook {
    background-image: url("../images/icons/facebook_off.png");
}
.contents .area-sns .inside .facebook:hover {
    background-image: url("../images/icons/facebook_on.png");
}
.contents .area-sns .inside .twitter {
    background-image: url("../images/icons/twitter_off.png");
}
.contents .area-sns .inside .twitter:hover {
    background-image: url("../images/icons/twitter_on.png");
}
.contents .area-sns .inside .blog {
    background-image: url("../images/icons/blog_off.png");
}
.contents .area-sns .inside .blog:hover {
    background-image: url("../images/icons/blog_on.png");
}
.contents .area-sns .inside .post {
    background-image: url("../images/icons/post_off.png");
}
.contents .area-sns .inside .post:hover {
    background-image: url("../images/icons/post_on.png");
}
.contents .area-sns .inside .youtube {
    background-image: url("../images/icons/youtube_off.png");
}
.contents .area-sns .inside .youtube:hover {
    background-image: url("../images/icons/youtube_on.png");
}
.contents .area-sns .inside a img {
    width: 25px;
    vertical-align: middle;
}
/* Mobile */
@media screen and (max-width: 720px) {
    .contents .area-sns {
        margin-left: 0;
        height: 55px;
    }
    .contents .area-sns > a {
        height: 55px;
        line-height: 55px;
    }
}
/* Tablet */
@media screen and (min-width: 720px) and (max-width: 1200px) {
    .contents .area-sns {
        float: right !important;
        width: 50% !important;
    }
    .contents .area-sns .inside {
        height: 60px;
        margin-left: -1px !important;
    }
    .contents .area-sns .inside a {
        height: 60px;
        line-height: 60px;
    }
}
/* Mobile & Tablet */
@media screen and (max-width: 1200px) {
    .contents .area-sns .inside a img {
        width: auto;
    }
}

.contents .container-bottom {
    margin-top: 20px;
}
.contents .container-bottom .area {
    float: left;
}
.contents .container-bottom .area .inside {
    padding: 30px;
}
.contents .container-bottom .area h2 {
    margin-top: 0;
    font-size: 1.3em;
}
/* Mobile */
@media screen and (max-width: 720px) {
    .contents .container-bottom .area .inside {
        padding: 15px;
    }
}
/* Tablet */
@media screen and (min-width: 720px) and (max-width: 1200px) {
    .contents .container-bottom .area .inside {
        padding: 20px;
    }
}
/* Mobile & Tablet */
@media screen and (max-width: 1200px) {
}

.contents .area-notice {
    width: 400px;
}
.contents .area-notice .inside {
    height: 160px;
}
.contents .area-notice .more {
    float: right;
}
.contents .area-notice .notice {
    margin: -15px 0;
    padding: 0;
}
.contents .area-notice .notice li {
    display: block;
    margin: 15px 0;
}
.contents .area-notice .notice li p {
    margin: 0;
}
.contents .area-notice .notice li .title {
    float: left;
    width: 248px;
    padding-right: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.contents .area-notice .notice li:hover .title {
    color: #107de4;
}
.contents .area-notice .notice li .date {
    float: right;
    width: 70px;
    text-align: right;
    color: #797979;
}
/* Mobile */
@media screen and (max-width: 720px) {
    .contents .area-notice {
        width: 100%;
    }
    .contents .area-notice .inside {
        margin-top: -1px;
    }
}
/* Tablet */
@media screen and (min-width: 720px) and (max-width: 1200px) {
    .contents .area-notice {
        width: 50%;
    }
}
/* Mobile & Tablet */
@media screen and (max-width: 1200px) {
    .contents .area-notice .notice li .title {
        width: calc(100% - 70px - 20px);
    }
}

.contents .area-apply {
    width: 400px;
}
.contents .area-apply .inside {
    height: 160px;
    margin-left: -1px;
}
.contents .area-apply .more {
    float: right;
}
.contents .area-apply .links {
    margin-top: 35px;
    text-align: center;
}
.contents .area-apply .links .wrapper {
    float: left;
    width: 33%;
}
.contents .area-apply .links a {
    display: inline-block;
}
.contents .area-apply .links a img {
    height: 4em;
}
.contents .area-apply .links a p {
    margin-bottom: 0;
    font-weight: bold;
}
.contents .area-apply .links a:hover p {
    color: #107de4;
}
/* Mobile */
@media screen and (max-width: 720px) {
    .contents .area-apply {
        width: 100%;
    }
}
/* Tablet */
@media screen and (min-width: 720px) and (max-width: 1200px) {
    .contents .area-apply {
        width: 50%;
    }
    .contents .area-apply .inside {
        height: 211px;
        margin-left: -1px !important;
    }
    .contents .area-apply .more {
        margin-top: 20px;
    }
}
/* Mobile & Tablet */
@media screen and (max-width: 1200px) {
    .contents .area-apply .inside {
        margin-left: 0;
    }
}

.contents .area-banner {
    width: 400px;
}
.contents .area-banner .inside {
    height: 160px;
    line-height: 160px;
    margin-left: -1px;
    text-align: center;
}
.contents .area-banner img {
    vertical-align: middle;
}
/* Mobile */
@media screen and (max-width: 720px) {
    .contents .area-banner {
        width: 100%;
    }
    .contents .area-banner .inside {
        margin-top: -1px;
        margin-left: 0;
    }
}
/* Tablet */
@media screen and (min-width: 720px) and (max-width: 1200px) {
    .contents .area-banner {
        width: 50%;
    }
}
/* Mobile & Tablet */
@media screen and (max-width: 1200px) {
}
